/* About.css */

.about-content {
  text-align: center;
  padding: 50px;
}

.intro {
  max-width: 800px;
  margin: 0 auto;
}

.intro h2 {
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
  
}

.intro p {
  font-size: 18px;
  line-height: 1.6;
  color: #666;
}

.intro p:first-child {
  font-weight: bold;
}

.intro p:last-child {
  margin-bottom: 0;
}
