/* App.css */

body {
  font-family:cursive, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333; /* Dark background color for the header */
  padding: 20px 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff; /* White color for the navigation links */
  font-size: 18px;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #ffd700; /* Change color on hover */
}

.section {
  /* padding: 50px 0; */
  text-align: center;
}

.section h2 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #333; /* Dark color for section headings */
}
